# Selección de características en modelos predictivos

Este proyecto es para IA de Moisés Calzado Cobo y Antonio Germán Márquez Trujillo

In [7]:
import pandas as pandas;
from sklearn.model_selection import cross_val_score;
from sklearn import tree;
from sklearn import preprocessing;
import numpy as np;

In [8]:
datos = pandas.read_csv("titanic.csv")

El primer paso para proceder con la selección de características es el que consiste en definir una función que nos permita evaluar los resultados obtenidos a la hora de predecir una característica dado un número de variables. Por lo tanto, el método nos queda de la siguiente forma:

Tenemos una función que recibe las siguientes variables:
<ul>
    <li>Datos: El conjunto de datos a tratar</li>
    <li>Variables: Conjunto de columnas con las que entrenar nuestro modelo de predicción</li>
    <li>Objetivo: Columna a predecir</li>
    <li>N_exp: Número de experimentos a llevar a cabo</li>
    <li>Cv: COMPLETAR</li>
</ul>

Y nos devuelve la puntuación promedio obtenida a la hora de llevar a cabo los sucesivos experimentos sobre el conjunto de variables dado.

In [9]:
def evaluar_soluciones(datos, variables, objetivo, n_exp, cv):
    data_frame = pandas.DataFrame(data=datos)
    X = data_frame[variables]
    y = data_frame[objetivo]
    clf = tree.DecisionTreeClassifier()
    
    scores = cross_val_score(clf, X, y, cv=cv, scoring="balanced_accuracy")
    
    for i in range(n_exp-1):
        new_scores = cross_val_score(clf, X, y, cv=cv, scoring="balanced_accuracy") 
        scores = scores + new_scores
    
    scores = scores/n_exp
    return np.mean(scores)

Con la función mostrar_datos(variables) que implementamos a continuación, lo que queremos hacer es mostrar para cada conjunto de variables evaluado sus correspondientes resultados. De esta forma, lo que recibe es un array que contiene un array de variables en cada posición y el objetivo que no es mas que la variable que queremos priorizar:

In [10]:
def mostrar_datos(variables, objetivo):
    resultados = []

    for i in range(len(variables)):
        new_resultado = evaluar_soluciones(datos, variables[i], objetivo, 15, 10)
        resultados.append(new_resultado)

    datos_tabla = [['Solution', 'Score', 'Size']]

    for i in range(len(variables)):
        datos_tabla = datos_tabla +[[variables[i],resultados[i],len(variables[i])]]
        
    return  pandas.DataFrame(datos_tabla)

Esta celda de abajo es una primera prueba para ver cómo se tienen que mostrar los resultados:

In [11]:
objetivo = ["Survived"]
variables = [["Family_Size", "Is_Married", "Age", "Sex"],["Pclass", "Sex", "Embarked"],["Fare_cat", "Alone"]]

mostrar_datos(variables, objetivo)

                                     0         1     2
0                             Solution     Score  Size
1  [Family_Size, Is_Married, Age, Sex]   0.74681     4
2              [Pclass, Sex, Embarked]   0.76875     3
3                    [Fare_cat, Alone]  0.599191     2

In [139]:
def SFS(datos, respuesta, d):
    k = 0
    solucionActual = []
    colums = datos.columns
    conjuntoOriginal = []
    datos_tabla = [['Mejor Solución', 'Tamaño', 'Rendimiento']]
    
    for i in range(len(colums)):
        conjuntoOriginal.append(colums[i])
    
    if(d == 0):
        d = len(conjuntoOriginal)
        
    while(k<d):
        solucionTemporal = []
        variableResultados = [[]]
        resultados = []
        
        for i in range (k, d):
            solucionTemporal = [] + solucionActual
            solucionTemporal.append(conjuntoOriginal[i])
            print(solucionActual)
            print(conjuntoOriginal[i])
            print(solucionTemporal)
            new_resultado = evaluar_soluciones(datos, solucionTemporal, respuesta, 15, 10)
            resultados.append(new_resultado)
            variableResultados.append(solucionTemporal)

        mejorSolucionTemporal = []
        mejorResultadoTemporal = 0
        
        for i in range (d-k):
            if(resultados[i]>mejorResultadoTemporal):
                mejorResultadoTemporal = resultados[i]
                mejorSolucionTemporal = variableResultados[i]
        
        solucionActual = mejorSolucionTemporal
        k = k+1
        
        datos_tabla = datos_tabla +[[solucionActual, len(solucionActual), mejorResultadoTemporal]]
    
    return pandas.DataFrame(datos_tabla)

In [138]:
SFS(datos, "Survived", 3)

[]
Pclass
['Pclass']
[]
Sex
['Sex']
[]
Age
['Age']
['Pclass']
Sex
['Pclass', 'Sex']
['Pclass']
Age
['Pclass', 'Age']
['Pclass']
Age
['Pclass', 'Age']

                0       1            2
0  Mejor Solución  Tamaño  Rendimiento
1        [Pclass]       1       0.7668
2        [Pclass]       1     0.734539
3        [Pclass]       1     0.642155