# Selección de características en modelos predictivos

Este proyecto es para IA de Moisés Calzado Cobo y Germán Márquez Trujillo

In [66]:
import pandas as pandas;
from sklearn.model_selection import cross_val_score;
from sklearn import tree;
from sklearn import preprocessing;
import numpy as np;

In [67]:
datos = pandas.read_csv("titanic.csv")

In [121]:
def mostrar_datos(variables, resultado):
    datos_tabla = {
        "solution": [variables],
        "score": resultado,
        "size": [len(variables)]
    }
        
    return pandas.DataFrame(datos_tabla)

In [122]:
def evaluar_soluciones(datos, variables, objetivo, n_exp, cv):
    data_frame = pandas.DataFrame(data=datos)
    X = data_frame[variables]
    y = data_frame[objetivo]
    clf = tree.DecisionTreeClassifier()
    
    scores = cross_val_score(clf, X, y, cv=cv, scoring="balanced_accuracy")
    
    for i in range(n_exp-1):
        new_scores = cross_val_score(clf, X, y, cv=cv, scoring="balanced_accuracy") 
        scores = scores + new_scores
    
    scores = scores/n_exp
    return np.mean(scores)

Esta celda de abajo es una primera prueba para ver cómo se tienen que mostrar los resultados, solo falta pasarla a función una vez tengamos claros los algoritmos implemetados

In [123]:
variable = ["Family_Size", "Is_Married", "Age"]
objetivo = "Survived"
resultado = evaluar_soluciones(datos, variable, objetivo, 15, 10)
mostrar_datos(variable, resultado)

                         solution     score  size
0  [Family_Size, Is_Married, Age]  0.668915     3

Pa mañana SFS

                  solution     score  size
0  [Fare_cat, Alone, Fare]  2.084485     3